body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    background-color:white;
    overflow: hidden;
}
.right-nav{
    float: right;
}

.topnav a {
    float: left;
    background-color: white;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.brand {
    font-weight: bold;
    overflow: hidden;
}

.topnav a.active {
    font-weight: bold;
}

.container {
    background-color: #d4a517;
    display: flex;
    justify-content: space-between;
    padding: 150px;
    color: black;
}

.right-container img {
    border-radius: 1%;
    float: right;
    border: 5px solid gray;
    float: right;

}

.left-container {
    flex: 1;
    padding-left: 40px;
    float: left;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.shop-button {
    display: inline-block;
    padding: 12px 25px;
    color: white;
    border: black;
    border-radius: 90%;
    text-decoration: none;
    font-weight: bold;
}

.shop-button:hover {
    background-color: #555;
}
